
/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}



.span-1-of-4{

    width: 23.8%; 

}

.span-1-of-2 {
	width: 49%;
}

.span-1-of-3 {
	width: 32.26%; 
}